.categories-subcategories {
    display: grid;
    grid-gap: 10px;
    grid-template: 30px / 200px 1fr;
}
.subcategories {
    grid-column: 1 / span 2;
    display: grid;
    grid-gap: 10px;
    grid-template: 20px / 200px 1fr;
}
.categories-subcategories label {
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.categories-subcategories select {
    height: 27px;
    outline: none;
}
.categories-subcategories option {
    width: 300px;
    border: 1px solid #35605A;
    background: #35605A;
    color: #F7F0F0;
    border-radius: 5px;
}